@using System.Collections.Generic
@typeparam T
@if (@Object!=null)
{
    <label for="@Object.GetType().Name">@Object.GetType().Name:</label>

}
@code {
    [Parameter]
    public required T Object{ get; set; }

    private int intValue { get; set; }

}
