@page "/Testing"
@rendermode InteractiveServer

@using MinecraftHypixel.Components.Pages
@using MinecraftHypixel.Components.Pages.Common
@using MinecraftHypixel.Models

<h3>Index</h3>

<button @onclick="ShowPopup">Show Popup</button>
<button @onclick="ShowTable">Show Table</button>
<button @onclick="ShowForm">Show Table</button>

<Popup @ref="_popupRef">
    <div>Shiro la mejor</div>
</Popup>
<GenericTable T="Item" @ref="_genericTableRef"/>
<GenericForm T="Item" Model="itemTest" OnValidSubmit="Validar" @ref="_genericFormRef" />

@code {
    private Popup _popupRef=new Popup();
    private GenericTable<Item> _genericTableRef = new GenericTable<Item>();
    private GenericForm<Item> _genericFormRef = new GenericForm<Item>();
    private Item itemTest = new Item();
    private void ShowForm()
    {
        _popupRef.Show("Header");
    }

    private void ShowPopup()
    {
        _popupRef.Show("Header");
    }
    private void Validar()
    {
        string test="";
    }
    private void ShowTable()
    {
        List<Item> list = new List<Item>();
        list.Add(new Item(){Id="Aleluya",Name="Works"});
        list.Add(new Item() { Id = "Aleluya", Name = "Works" });
        list.Add(new Item() { Id = "Aleluya", Name = "Works" });

        _genericTableRef.Show(list);
    }

}
