@page "/Testing"
@rendermode InteractiveServer

@using MinecraftHypixel.Components.Pages

<h3>Index</h3>

<button @onclick="ShowPopup">Show Popup</button>

<Popup @ref="popupRef" />

@code {
    private bool isPopupVisible = false;
    private Popup popupRef;

    private void ShowPopup()
    {
        popupRef.Show("Popup body text");
    }
}
