@page "/Testing"
@rendermode InteractiveServer

@using MinecraftHypixel.Components.Pages

<h3>Index</h3>

<button @onclick="ShowPopup">Show Popup</button>

<Popup @ref="_popupRef" />

@code {
    private Popup _popupRef=new Popup();

    private void ShowPopup()
    {
        _popupRef.Show("Popup body text","Header");
    }
}
